3. Библиотека Pandas

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame()
df["name"] = ["Mike", "Tom", "Ann"]
df["age"] = [18, 20, 19]
type(df["name"])
df.loc[1]
df.iloc[1]

df.index = ["A", "B", 'C']
df.loc["B"]
df.iloc[1]
display(df)

df["log in"] = df["name"] + df["age"].astype(str)
df

   name  age
A  Mike   18
B   Tom   20
C   Ann   19

   name  age  log in
A  Mike   18  Mike18
B   Tom   20   Tom20
C   Ann   19   Ann19